

<div class="row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-8 offset-1">
        <div class="search col-8">
            <input type="text" class="form-control" id="searchInput" name="searchInput" placeholder="Search By Name">
        </div>
        <div class="search col-4">
            <button type="submit">Search</button>
        </div>
    </form>
</div>

